<p id="notice"><%= notice %></p>

<h1>Solutions</h1>

<div class="table-responsive">
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>number</th>
      <th>title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.number %></td>
        <td><%= solution.title %></td>
        <td><%= link_to 'Show', solution %></td>
        <td><%= link_to 'Edit', edit_solution_path(solution) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>